.container{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  width:400px;
  height:600px;
  border:2px solid black;
}

.ac{
  grid-column: span 4;
}

.calc{
  height:100px;
  width:400px;
  border:2px solid red;
}